
.page {
  margin: 60px auto 0;
  text-align: center;
  width: 60%;
  font-family: Verdana, Geneva, sans-serif;
}
.title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
 }
input {
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  margin: 20px 0;
  outline: none; 
}
.faculty {
  font-size: 15px;
  margin-bottom: 10px;
  padding:2px;
}
